@import '../../../assets/css/constants.scss';

.container {
    padding: .75rem 1rem;
    background-color: white;
    color: $text-dark-color;
}

.input {
    background-color: inherit;
    border: none;
    outline: none;
    width: 100%;
}