@import '../../../assets/css/constants.scss';

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body {
    margin-top: $navbar-height ;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
}